<br><br><br><br><br>

<fieldset>
    <legend>Testimonial</legend>
    <!-- NAME -->
    <div class="form-group">
        <label for="name">Name</label><br>
        <input class="form-contol" id="name" type="text" name="name" value="{{testimonial.name}}" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="description">Descritpion</label><br>
        <input class="form-contol" id="description" type="text" name="description" value="{{testimonial.description}}" />
    </div>
</fieldset>
