<!doctype html>
<body>
    <div class="about" id="about">
        <div id="object" class="container expandUp">
            <h1 class="text-center">About Me</h1>
            <div class="row">
                <!-- LEFT SIDE -->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <img src="../images/Me.jpeg" class="img-fluid">
                    <span class="text-justify">Software Engineer</span>
                </div>

                <!-- RIGHT SIDE -->
                <div class="col-lg-8 col-md-8 col-sm-12 desc">
                    <h3>Connor Oswold</h3>
                    <p>Solving problems has always been something that has
                        driven me. In the same vein, I really enjoy creating
                        things. I think that is why software engineering and
                        coding appeals to me. The creative outlet combined with
                        the satisfaction of bringing something you have in your
                        mind into the real world is very powerful. Outside of
                        coding, I really enjoy learning how to play the drums
                        and listening to great music, playing tennis or any sort
                        of athletic activity, and exploring new cities.</p>
                </div>
            </div>
        </div>
    </div>
</body>
