<!doctype html>
<body>
    <div class="container">
        <div class="description">
            <h1>Hello, Welcome To My Website
                <p>Have a look around...</p>
                <a class="transition btn btn-outline-secondary btn-lg"
                data-to="page-2" data-transition="horizontal"
                href="/gallery">Explore</a>
            </h1>
        </div>
    </div>
</body>
