<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/testimonial/create">
            {{> testimonials-form}}
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save Testimonial</button>
                <input class="btn btn-primary" type="button" value="Cancel" onclick="window.location.href='/testimonial'" />
            </div>
        </form>
    </div>
</div>
